@model EcoAlert.Domain.Entities.LimiarEntity

<div class="row">
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ParametroSensor"></label>
            <select asp-for="ParametroSensor"
                    asp-items="ViewBag.ParametroSensor"
                    class="form-control">
                <option value="">-- Selecione um Parametro Sensor --</option>
                <option value="umidade">Umidade</option>
                <option value="temperatura">Temperatura</option>
                <option value="nivelagua">Nivel Àgua(cm)</option>
                <option value="porcentagemnivel">Porcentagem Nivel Àgua</option>
            </select>
            <span asp-validation-for="ParametroSensor" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ValorMax">Valor Limiar Máximo</label>
            <input asp-for="ValorMax" class="form-control" />
            <span asp-validation-for="ValorMax" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ValorMin">Valor Limiar Mínimo</label>
            <input asp-for="ValorMin" class="form-control" />
            <span asp-validation-for="ValorMin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MsgMax">Mensagem para Valor Máximo</label>
            <input asp-for="MsgMax" class="form-control" />
            <span asp-validation-for="MsgMax" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MsgMin">Mensagem para Valor Mínimo</label>
            <input asp-for="MsgMin" class="form-control" />
            <span asp-validation-for="MsgMin" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RecomendacaoAlerta">Mensagem de Recomendação para o Alerta</label>
            <input asp-for="RecomendacaoAlerta" class="form-control" />
            <span asp-validation-for="RecomendacaoAlerta" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Salvar" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}