@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <h2>EcoAlert</h2>
    <p>O EcoAlert é uma aplicação web desenvolvida com ASP.NET Core 8, focada na gestão e monitoramento de limiares ambientais. A plataforma permite a visualização, o cadastro, edição e exclusão de valores máximos e mínimos para variáveis ambientais, como temperatura ou umidade, que podem ser posteriormente consumidos por sistemas externos para geração de alertas.</p>
</div>
